<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Beetle Saturn">
        <meta-data
            android:name="plugMainClass"
            android:value="ink.snowland.wkuwku.plug.beetlesaturn.Main" />
        <meta-data
            android:name="plugAuthor"
            android:value="wn123o&lt;wn123o@outlook.com&gt;" />
        <meta-data
            android:name="plugSummary"
            android:value="Beetle Saturn is a multi-platform, open-source Sega Saturn emulator, fork of Mednafen Saturn" />
    </application>
</manifest>