<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="DeSmuME">
        <meta-data
            android:name="plugMainClass"
            android:value="ink.snowland.wkuwku.plug.desmume.Main" />
        <meta-data
            android:name="plugAuthor"
            android:value="wn123o&lt;wn123o@outlook.com&gt;" />
        <meta-data
            android:name="plugSummary"
            android:value="DeSmuME is a Nintendo DS emulator" />
    </application>
</manifest>